html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

img {
  max-width: 100%;
}

.title-hidden:not(:focus):not(:active),
.text-hidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  background-color: var(--color-wild_sand);
}

/* glob */
.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

.btn-reset {
  padding: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.flex {
  display: flex;
}

/* color */
:root {
  --color-white: #FFFFFF;
  --color-wild_sand: #F4F4F4;
  --color-blue_ribbon: #0065F2;
  --color-manatee: #999CA0;
  --color-tuna: #313143;
  --color-dove_gray: #666666;
  --color-mischka: #D4D2DF;
  --color-alto: #D9D9D9;
  --color-purple_heart: rgba(138, 46, 186, .4);
  --color-regent_blue: #ADD8E6;
  --color-malibu: #77F8F7;
  --color-blue: #0000FF;
  --color-red: #FF0000;
}

.container {
  position: relative;
  max-width: 1920px;
  margin: 0 auto;
  padding: 0 15px;
}

.container-doubling {
  max-width: 1597px;
}

/* header */

.header {
  background-color: var(--color-white);
}

.header-container {
  align-items: center;
  padding: 30px 0;
}

.burger {
  position: relative;
  left: 49px;
  padding: 0;
  z-index: 1000;
}

.burger-line {
  position: absolute;
  width: 25px;
  padding: 2px 0;
  background-color: currentColor;
  transform: translateX(-50%);
}

.burger-line:nth-child(1) {
  top: -8px;
  transform: translateX(-50%) translateY(-50%);
}

.burger-line:nth-child(2) {
  transform: translateX(-50%) translateY(-50%);
}

.burger-line:nth-child(3) {
  bottom: -12px;
  transform: translateX(-50%) translateY(-50%);
}

.header-search {
  margin-right: auto;
  padding-left: 94px;
}

.header-search-input {
  background-color: var(--color-mischka);
  border-radius: 10px;
}

.header-input-search {
  padding-top: 6px;
  padding-left: 13px;
}

.header-input-search svg {
  width: 22px;
  height: 22px;
}

.header-input {
  padding: 11px 132px 13px 14px;
  font-family: "Display";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  letter-spacing: -.2px;
  outline: none;
  border: none;
  background-color: transparent;
}

.header-span {
  align-self: center;
  -webkit-align-self: center;
  margin-right: auto;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 27px;
  letter-spacing: 1.5px;
  color: var(--color-blue_ribbon);
}

.header-button {
  margin-left: 129px;
  padding-right: 23px;
}

.btn-signup,
.btn-entrance {
  padding: 22px 38px;
}

.btn-signup {
  font-family: "Display";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  letter-spacing: 1.7px;
  color: var(--color-white);
  background-color: var(--color-blue_ribbon);
  border-radius: 2px solid var(--color-blue_ribbon);
  border-radius: 10px;
}

.btn-entrance {
  margin-left: 21px;
  border: 2px solid var(--color-blue_ribbon);
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  color: var(--color-blue_ribbon);
  border-radius: 10px;
}

.signup {
  position: absolute;
  top: 105px;
  left: 40%;
  z-index: 1000;
  visibility: hidden;
  flex-direction: column;
  align-items: center;
  width: 38%;
  height: auto;
  background-color: var(--color-white);
  box-shadow: 0 0 15px rgba(0, 0, 0, 1);
  border-radius: 10px;
}

.signup--window {
  visibility: visible;
}

.signup__label {
  margin: 30px 0 10px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
}

.signup__input {
  width: 70%;
  padding: 15px;
  font-family: "Display";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  border-radius: 10px;
}

.signup__input::placeholder {
  padding-left: 20px;
}

.signup__input:focus {
  outline: 2px solid var(--color-blue);
  outline-offset: 5px;
}

.signup__input:hover,
.signup__input:active {
  outline: none;
}

.signup__input:hover,
.signup__input:active {
  background-color: var(--color-regent_blue);
  color: #fff;
}

.signup__register {
  margin: 50px 0;
  padding: 20px 30px;
  color: var(--color-white);
  background-color: var(--color-blue_ribbon);
  border-radius: 10px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
}

/* news */

.news-list-cintainer {
  padding-top: 30px;
  margin-left: 17px;
  font-family: 'Display';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: var(--color-manatee);
}

.main-link {
  position: relative;
  left: 2px;
  padding-right: 20px;
}

.main-link::after,
.blog-link::after {
  content: "";
  position: absolute;
  top: 9px;
  width: 10px;
  padding: 1px 0;
}

.main-link::after {
  right: 0;
  background-color: var(--color-manatee);
}

.blog-link {
  position: relative;
  padding-left: 12px;
  padding-right: 12px;
}

.blog-link::after {
  right: -9px;
  background-color: var(--color-manatee);
}

.about-blog-link {
  padding-left: 19px;
  color: var(--color-blue_ribbon);
}

.news-article {
  transform: translateY(35px) translateX(17px);
}

.news-title {
  margin: 0 -10px 47px 0;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: bold;
  font-size: 47px;
  line-height: 56px;
  letter-spacing: -.2px;
  color: var(--color-tuna);
}

.news-text {
  margin-top: -6px;
}

.text {
  font-family: 'Display';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: var(--color-dove_gray);
}

.news-heading {
  margin-top: 0;
  margin-bottom: 22px;
  font-family: 'Display';
  font-style: normal;
  font-weight: 500;
  font-size: 25px;
  letter-spacing: 1px;
  color: var(--color-tuna);
  transform: translateY(12px);
}

.news-item {
  position: relative;
  padding-left: 18px;
  padding-bottom: 13px;
  font-family: 'Display';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: var(--color-dove_gray);
  transform: translateY(10px);
}

.news-item::before {
  content: "";
  position: absolute;
  left: 0;
  top: 5px;
  width: 8px;
  height: 8px;
  background-color: var(--color-blue_ribbon);
  border-radius: 50%;
  vertical-align: middle;
}

.text-second {
  padding-top: 24px;
  transform: translateY(10px);
}

.news-share {
  display: block;
  font-weight: 400;
  font-size: 12px;
  transform: translateY(40px);
}

.news-social {
  padding-top: 19px;
  padding-left: 2px;
  transform: translateY(35px);
}

.social-link {
  padding-right: 5px;
}

.news-image {
  background-color: var(--color-alto);
  object-fit: cover;
  transform: translateY(-46px) translateX(160px);
  border-bottom-left-radius: 10px;
}

/* blog */

.element {
  transform: translateY(-61px);
}

.element-caption {
  margin: 103px 0 53px 16px;
  font-family: sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 37px;
  line-height: 44px;
  letter-spacing: -1px;
  color: var(--color-tuna);
}

.caption-blog {
  margin-bottom: 116px;
  text-align: center;
  font-family: sans-serif;
  font-size: 46px;
}

.blog__element {
  flex-wrap: wrap;
}

.element-item,
.element-wrapper {
  background-color: var(--color-white);
  border-radius: 10px;
}

.element-item {
  flex-direction: column;
  align-items: center;
}

.element-img {
  width: 100%;
  height: 233px;
  background-color: var(--color-alto);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  object-fit: cover;
}

.element-button:active .element-svg {
  animation-name: button-click;
  animation-duration: 0.25s;
  animation-timing-function: ease-in-out;
}

@keyframes button-click {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(0.5);
  }

  100% {
    transform: scale(1);
  }
}

.element-svg {
  position: absolute;
  top: 16px;
  right: 15px;
}

.element-title {
  align-self: flex-start;
  -webkit-align-self: flex-start;
  margin: 23px 0 9px;
}

.element__title {
  font-family: 'Display';
  font-style: normal;
  font-weight: 700;
  font-size: 27px;
  line-height: 30px;
  color: var(--color-tuna);
}

.element-text {
  margin-top: 0;
  font-family: 'Display';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: var(--color-dove_gray);
}

.element-title,
.element-text {
  margin-right: 26px;
  margin-left: 26px;
}

.element-btn {
  margin: 9px auto 20px;
  padding: 20px 100px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  color: var(--color-blue_ribbon);
  border: 2px solid var(--color-blue_ribbon);
  border-radius: 10px;
}

.count {
  position: absolute;
  top: 15px;
  width: 0px;
  right: 15px;
  background-color: var(--color-red);
  color: var(--color-white);
  border-radius: 50%;
}

.count--fav {
  padding: 5px;
}

.element-slider {
  justify-content: space-evenly;
  margin-top: 40px;
}

.slider-prev, .slider-next {
  font-family: 'Display';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
}

/* footer */

.footer {
  transform: translateY(110px);
  margin-top: -47px;
  padding: 27px 0 27px;
  border-top: 1px solid var(--color-manatee);
}

.footer-container {
  justify-content: space-between;
}

.footer-nav {
  margin-right: auto;
}

.footer-item:not(:last-child) {
  padding-right: 25px;
}

.footer-link {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  letter-spacing: 0.6px;
  color: var(--color-tuna);
}